Repository Dingdongrami/PicMap_frontend, pull requests merged in 2023-11, with the labels that each got.

#15 [Feat] 타임라인 페이지 구현 및 파일명 수정
  app.json
  app/index.js
  assets/icons/Img_box_fill.png
  assets/icons/camera.png
  assets/icons/function_add_btn.png
  assets/icons/image.png
  assets/icons/trash.png
  assets/icons/user.png
  components/Modal/Modal.jsx
  components/Modal/styles.js
  components/MyProfile/MyProfile.jsx
  components/MyProfile/styles.js
  components/circle/CircleRoom.jsx
  components/circle/CreateCircleBtn.jsx
  components/circle/Stack/CircleStack.jsx
  components/circle/styles.js
  components/header/Header.jsx
  components/header/Stack/AltScreen.jsx
  components/header/styles.js
  components/middle/Stack/AltComponent.jsx
  data/circle-dummy.js
  package-lock.json
  package.json
  screens/MyPage/Circle/Circle.jsx
  screens/MyPage/Circle/styles.js
  screens/MyPage/Map/Map.jsx
  screens/MyPage/Map/styles.js
  screens/MyPage/Post/Post.jsx
  screens/MyPage/Post/styles.js
  screens/MyPage/index.js
  screens/Profile/EditIntroduction.jsx
  screens/Profile/EditProfile.jsx
  screens/Profile/EditUsername.jsx
  screens/Profile/styles.js
  screens/TimeLine.jsx
  screens/TimeLine/TimeLine.jsx
  screens/TimeLine/styles.js
  screens/index.js
  screens/mycomponent/Circle/Circle.jsx
  screens/mycomponent/index.js
  stores/user-store.js
  yarn.lock
Labels: feat, style

#18 [FEAT] 써클 접속 페이지 UI 구현
  app/index.js
  assets/icons/circle_array_btn.png
  assets/icons/header_back.png
  assets/icons/loading.png
  babel.config.js
  components/CirclePost/CirclePost.jsx
  components/MyProfile/OthersProfile.jsx
  components/circle/CircleRoom.jsx
  components/circle/Stack/CircleStack.jsx
  components/circle/album/PhotoClick.jsx
  components/circle/album/PhotoSelect.jsx
  components/circle/album/SinglePhotoIcon.jsx
  components/circle/album/styles.js
  components/circle/single/SingleMap.jsx
  components/circle/single/SingleRoom.jsx
  components/circle/single/ZoomInMap.jsx
  components/circle/single/styles.js
  components/header/CircleHeader.jsx
  components/header/CircleMapHader.jsx
  components/header/Stack/AltScreen.jsx
  components/header/styles.js
  components/map/MapImage.jsx
  components/map/styles.js
  data/circle-dummy.js
  package-lock.json
  package.json
  screens/MyPage/Circle/CircleMap/CircleMap.jsx
  screens/MyPage/Circle/SingleCircle.jsx
  screens/MyPage/Circle/SplashUI.jsx
  screens/MyPage/Circle/styles.js
  screens/MyPage/Map/Map.jsx
  screens/createCircle/index.js
  stores/splash-store.js
  yarn.lock
Labels: bug, feat, style

#22 [FEAT] 써클 접속화면시 화면 이동 및 버튼 기능구현
  assets/icons/add_user_icon.png
  assets/icons/album_add.png
  assets/icons/camera_add.png
  assets/icons/comment.png
  assets/icons/edit_circle_name.png
  assets/icons/filter_user_icon.png
  assets/icons/header_back.png
  assets/icons/heart_filled.png
  assets/icons/heart_unfilled.png
  components/circle/album/AddMethod.jsx
  components/circle/album/PhotoClick.jsx
  components/circle/album/PhotoComments.jsx
  components/circle/album/PhotoSelect.jsx
  components/circle/album/SinglePhotoIcon.jsx
  components/circle/album/styles.js
  components/circle/single/ZoomInMap.jsx
  components/circle/single/styles.js
  components/header/CircleDetailHeader.jsx
  components/header/CircleHeader.jsx
  components/header/Stack/AltScreen.jsx
  components/header/styles.js
  package-lock.json
  screens/MyPage/Circle/PhotoCom.jsx
  screens/MyPage/Circle/SingleCircle.jsx
  screens/MyPage/Circle/styles.js
Labels: bug, help, question, feat, style

#24 [FIX] 써클 스타일 호환성 개선
  assets/icons/loading.png
  components/circle/album/SinglePhotoIcon.jsx
  components/circle/album/styles.js
  screens/MyPage/Circle/SingleCircle.jsx
  screens/MyPage/Circle/styles.js
Labels: style

#30 [FEAT] map clustering 마커추가
  app/index.js
  assets/example/ex10.png
  assets/example/ex11.png
  assets/example/ex12.png
  assets/example/ex13.png
  assets/example/ex14.png
  assets/example/ex15.png
  assets/example/ex16.png
  assets/example/ex17.png
  assets/example/ex18.png
  assets/example/ex19.png
  assets/example/ex20.png
  assets/example/ex21.png
  assets/example/ex22.png
  assets/example/ex23.png
  assets/example/ex24.png
  assets/example/ex25.png
  assets/example/ex26.png
  assets/example/ex27.png
  assets/example/ex28.png
  assets/example/ex29.png
  assets/example/ex30.png
  assets/example/ex6.png
  assets/example/ex7.png
  assets/example/ex8.png
  assets/example/ex9.png
  components/MapMarker/ClusteredMapView.jsx
  components/MapMarker/ClusteredMarker.jsx
  components/MapMarker/CreateIcon.jsx
  components/MapMarker/helpers.jsx
  components/MapMarker/styles.js
  components/circle/album/SinglePhotoIcon.jsx
  components/circle/album/styles.js
  components/circle/single/SingleMap.jsx
  components/circle/single/examples.js
  components/middle/Stack/AltComponent.jsx
  package-lock.json
  package.json
  screens/MyPage/Map/Map.jsx
  screens/MyPage/Map/examples.js
  screens/MyPage/Map/styles.js
  screens/MyPage/index.js
  yarn.lock
Labels: enhancement, feat
